
.container{
  margin: auto;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 2px solid #333;
}

.black{
    background-color: #333;
    height: 100px;
    width: 100px;
}
.white{
    background-color: #f2f2f2;
    height: 100px;
    width: 100px;
}