
.container{
margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.black{
    background-color: #b58863;
    height: 100px;
    width: 100px;
}
.white{
    background-color: #f0d9b5;
    height: 100px;
    width: 100px;
}