.blue{
    background-color: blue;
    position: relative;
    top: 200px;
    left: 200px;
    width: 500px;
    height: 300px;
}

.red{
    background-color: red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 250px ;
}