.blue{
    background-color: blue;
    position: relative;
    top: 200px;
    left: 200px;
    width: 500px;
    height: 200px;
}

.red{
    background-color: red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}