.flag{
    width: 900px;
    height: 600px;
    background-color: firebrick;
    color: white;
    /* font-size: 3rem; */
    position: relative;
}

.flag > div{
    width: 100%;
    height: 300px;
    background-color: rgb(22, 22, 104);
    position: absolute;
    top: 150px;
}

.flag > div > div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 50px;
    left: 350px;
    /* z-index: -1; */
}

p{
    margin: 0;
    font-size: 5rem;
    /* color: white; */
    text-align: center;
}

body > div > div > div > p{
    color: black;
}