.contain{
    border: 5px solid black;
    height: 25rem;
    width: 50%;
    margin: auto;
    background-color: #333;
}

.container{
    display: flex;
    font-size: 2rem;
    color: #fff;
    gap: 10px;
}

.green{
    order: 1;
}

.red   {background-color: red}
.indigo{background-color: indigo;}
.voilet{background-color: violet;}
.brown {background-color: brown;}
.green {background-color: green;}
.yellow{background-color: yellow;}
.orange{background-color: orange;}
