.pricing-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pricing-plan{
    flex: 1;
    max-width: 300px;
    background-color: #f2f2f2;
    gap: 10px;
    padding: 20px;
    color: #333;
    text-align: center;
}

.plan-title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.plan-price{
    text-align: center;
}

.plan-features{
    
    list-style: none;
}

.plan-button{
    background-color: rgb(182, 53, 6);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

@media(max-width:1250px){
    .pricing-container{
        flex-direction: column;
    }
}