.red   {background-color: red}
.indigo{background-color: indigo;}
.voilet{background-color: violet;}
.brown {background-color: brown;}
.green {background-color: green;}
.yellow{background-color: yellow;}
.orenge{background-color: orange;}