*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.inner-box{
    flex: 1;
    background-color: cadetblue;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    color: palegoldenrod;
}

.title{
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.plan1{
    color: maroon;
    font-size: 1.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}