.contain{
    border: 5px solid black;
    height: 70vh;
    width: 90%;
    margin: auto;
    background-color: #333;
}

.container{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    color: #fff;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    justify-content: center;
    justify-content: space-around;
    /* align-items: center; */
    /* align-items: center;*/
}

/* .container > *{
    height: 100px;
    width: 100px;
    text-align: center;
} */
.green{
    order: 1;
}

.red   {background-color: red}
.indigo{background-color: indigo;}
.voilet{background-color: violet;}
.brown {background-color: brown;}
.green {background-color: green;}
.yellow{background-color: yellow;}
.orange{background-color: orange;}
