*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner-box{
    flex: 1;
    background-color: cadetblue;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    color: palegoldenrod;
}

.title{
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.plan1{
    color: maroon;
    font-size: 1.3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.features{
    padding-right: 10px;
    list-style: none;
}

.plane-btn{
    background-color: sienna;
    color: #f3f3f3;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.inner-box:hover{
    border-radius: 50%;
}

@media(max-width:900px){
    .box{
        flex-direction: column;
    }
}