.contain{
    border: 5px solid black;
    height: 25rem;
    width: 100%;
}

.container{
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items:end ;
}

.red   {background-color: red}
.indigo{background-color: indigo;}
.voilet{background-color: violet;}
.brown {background-color: brown;}
.green {background-color: green;}
.yellow{background-color: yellow;}
.orange{background-color: orange;}

/* .container,.brown,.green,.orange,.red,.yellow,.indigo,.voilet{
    flex-basis: 100px;
} */

.container > *{
    height: 100px;
    width: 100px;
}