.box{
    display: flex;
}

.para{
    flex-basis: 200px;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    color: #fff;
}

#p1{
    background-color: rgb(174, 44, 44);
}

#p2{
    background-color: rgb(36, 92, 73);
}

#p3{
    background-color: rgb(113, 82, 34);
}

#p4{
    background-color: cadetblue;
}