body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container{
    height: 748px;
    width: 748px;
    display: grid;
    background-color: #333;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
}

