body{
    margin: 0 auto;
    /* width: 90%; */
    background-color:rgba(32, 31, 26, 0.844);
    /* background-color:rgba(151, 149, 137, 0.844); */
    font-family: monospace;
}

#title{
    text-align: center;
    font-size: 4rem;
    text-shadow: 3px 0 red;
    color: white;
}

.sets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.K{
    background-image: url('Assets/images/KK.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.A{
    background-image: url('Assets/images/Aatif.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.J{
    background-image: url('Assets/images/Jagjit.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.N{
    background-image: url('Assets/images/Nusrat.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.M{
    background-image: url('Assets/images/Irfan.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.G{
    background-image: url('Assets/images/Amrinder.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.S{
    background-image: url('Assets/images/Sonu.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pressed {
  box-shadow: 0 3px 4px 0 #333;
  opacity: 0.5;
}

.music{
    height: 150px;
    width: 150px;
    background-color: white;
    text-align: center;
    border: 10px solid  rgba(0, 0, 0, 0.948);
    border-radius: 50px;
    /* background-color: rgba(32, 31, 26, 0.844); */
    color: white;
    text-shadow: 2px 0 red;
    font-weight: 900;
    font-size: 1rem;
}