body{
    margin: 0 auto;
    /* width: 90%; */
    background-color:rgba(32, 31, 26, 0.844);
    font-family: monospace;
}

#title{
    text-align: center;
    font-size: 4rem;
    text-shadow: 3px 0 red;
    color: white;
}

.sets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.K{

}

.A{

}

.J{

}

.N{

}

.M{

}

.G{

}

.S{

}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.music{
    height: 150px;
    width: 150px;
    background-color: white;
    text-align: center;
    border: 10px solid  rgba(32, 31, 26, 0.367);
    border-radius: 50px;
    background-color: rgba(32, 31, 26, 0.844);
    color: white;
    text-shadow: 2px 0 red;
    font-weight: 900;
    font-size: 1rem;
}