.container{
    margin: 0 auto;
    width: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    border-radius: 20px;
}

.nav1{
    display: flex;
    gap: 20px;
    padding-left: 20rem;
}
.head{
    display: flex;
    justify-content: left;
    padding-left: 5px;
}


li{
    list-style: none;
    font-size: 1.5rem;
    padding-top: 27px;
}

.Show{
    background-image: url("Assets/images/goku.jpg");
    min-height: 600px ;
    background-position: center;
}

.box{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)1.5fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    color: #f3f3f3;
   
}

.box1{
    display: flex;
    justify-content: center;
}

.box > *{
    border-radius: 20px;
}

.item1{
    grid-column: span 2;
    background-color: #333;
    padding: 20px;
}

.item2{
     grid-column: span 2;
    background-color: #333;
    padding: 20px;
    order: 1;
}
.item3{
    grid-row: span 2;
      background-color: #333;
     padding: 20px;
}

footer{
    margin-top: 5px;
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    background-color: #333;
    color:#f3f3f3;
}
/* hover fragments */

li:hover{
    /* background-color: rgba(88, 2, 88, 0.888); */
    font-weight: 900;
    color: #f3f3f3;
}

.head:hover{
    background-color: rgba(88, 2, 88, 0.763);
    padding: 4px;
    color: #f3f3f3;
    border-radius: 5px;
}

h1:hover{
     font-weight: bolder;
}

@media(max-width: 1250px){
      .head{
        display: grid;
        justify-content: center;
      }

      li{
        display: none;
      }
}