body{
    margin: 0 auto;
}


.head{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:oblique;
}

#intro{
    overflow: hidden;
    background-image: url("Assets/images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete.jpg");
    background-size: cover;
    min-height: 400px;
}

.img-1{
    border-radius: 50%;
}

img{
    border-radius: 50%;
}

.max{
    text-decoration: none;
    color: white;
}

#foot{
    background-image: url("Assets/images/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete.jpg");
    min-height: 100px;
}

.l1{
    color: white;
}

.head1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
