body{
    font-family: monospace;
    width: 90%;
    margin: auto;
}

.lg{
    float: left;
}
#container{
    display: flex;
    background-color: rgb(185, 185, 159);
    padding: 31px;
    justify-content: right;
    gap: 15px;
}

li{
    list-style: none;
    font-size: 2rem;
    color: white;
}

.showcase{
    background-image: url(Assets/images/student.jpg);
    min-height: 600px;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.showcase h1{
    color : #fff;
    font-size: 50px;
    line-height: 1.5em;
    padding-top: 60px;
    padding-left: 10px;
}